.Body {
    background-color: lightgrey;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    text-align: center;
    min-height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.Body-section {
    background-color: lightslategrey;
    padding: 30px;
}